{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smarket '_'</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'fake/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="{% static 'fake/css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Fake inputs
                    </a>
                </li>
                <li>
                    <a href="#">Scale</a>
                </li>
                <li>
                    <a href="#">Image</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Scale</h1>
                <form action="http://localhost:8000/peso/" method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Weight (kg)</label>
                    <input type="text" class="form-control" placeholder="Enter weight" name="weight">
                    <small id="emailHelp" class="form-text text-muted">Enter an float value.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Cart ID</label>
                    <input type="number" class="form-control" placeholder="Enter the cart ID" name="id">
                    <small id="emailHelp" class="form-text text-muted">Enter an integer</small>
                  </div>
                  <button type="submit" class="btn btn-primary">Yo!</button>
                </form>

                <br>

                <h1>Image</h1>
                <form action="http://localhost:8000/validacao/" method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Validation</label>
                    <input type="checkbox" class="form-control" placeholder="Enter weight" name="validator">
                  </div>
                  <button type="submit" class="btn btn-primary">Image it!</button>
                </form>


                <br>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Abra-te Césamo</a>
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->

    <script src="{% static 'fake/vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'fake/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
